{% extends "base.html" %}

{% block title %}Lista de items{% endblock %}

{% block content %}
<h1>Lista de items</h1>
    
    {% if items %}  {% comment %} items esta en items/views.py {% endcomment %}
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Foto</th>
                <th>Fecha de creacion</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for producto in items %} 
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                        {% if producto.foto %}
                            <img src="{{ producto.foto.url }}" alt="{{ producto.nombre }}" width="100">
                        {% else %}
                            Sin foto disponible
                        {% endif %}
                    </td>
                    <td>{{ producto.creacion }}</td>
                    <td> 
                        <form action="{% url "orden-add-product" %}" method="POST">
                            {% csrf_token %}                            
                            <input type="hidden" name="producto" value="{{ producto.id }}">
                            <button>Agregar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No items found.</p>
    {% endif %}

    <p>  </p>

{% endblock %}


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
</head>
<body>
    <h1>Lista de productos</h1>
    
    {% if items %}
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Foto</th>
                <th>Fecha de creacion</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.precio }}</td>
                    <td>
                        {% if item.foto %}
                            <img src="{{ item.foto.url }}" alt="{{ item.nombre }}" width="100">
                        {% else %}
                            Sin foto disponible
                        {% endif %}
                    </td>
                    <td>{{ item.creacion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No items found.</p>
    {% endif %}

    <footer>
        <nav>
            <a href="/">Home</a> |
            <a href="/about/">About</a>
        </nav>        
        <p>&copy; 2025 Coffee Shop de Jonnatan</p>
    </footer>    
</body>
</html> {% endcomment %}